/* CSS file that contains all CSS information for Wolverine Work */



/* 
----------------------------------------------------------------------------------------
"GLOBALS" DEFAULTS FOR LOGIN/REGISTER PAGES
----------------------------------------------------------------------------------------
*/

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,700,600|Inter:400|Nunito:400");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,700,600|Alata:400"); 
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:700");


.screen a {
    display: contents;
    text-decoration: none;
  }
  
  .container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    width: 100%;
  }
  
  .container-center-horizontal > * {
    flex-shrink: 0;
    pointer-events: auto;
  }
  
  .valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  input:focus {
    outline: none;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .image-5 {
    height: 42px;
    object-fit: cover;
    width: 44px;
  }
  
  .star-1 {
    height: 15.15px;
    position: relative;
    width: 15.48px;
  }
  
  .x {
    height: 20px;
    position: relative;
    width: 20px;
  }

  * {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
  }
  html,
  body {
    margin: 0px;
    height: 100%;
  }
  /* a blue color as a generic focus style */
  button:focus-visible {
    outline: 2px solid #4a90e2 !important;
    outline: -webkit-focus-ring-color auto 5px !important;
  }
  a {
    text-decoration: none;
  }

/* 
----------------------------------------------------------------------------------------
STYLEGUIDE CSS
----------------------------------------------------------------------------------------
*/

:root { 
    --alto: #d9d9d9;
    --black: #000000;
    --blue-whale: #00274c;
    --pale-sky: #696d81;
    --pale-sky-2: #696d8187;
    --white: #ffffff;
   
    --font-size-l: 24px;
    --font-size-m: 20px;
    --font-size-s: 16px;
    --font-size-xl: 30px;
    --font-size-xs: 14px;
    --font-size-xxl: 40px;
    --font-size-xxs: 12px;
   
    --font-family-alata-regular: "Alata-Regular", Helvetica;
    --font-family-inter: "Inter", Helvetica;
    --font-family-nunito: "Nunito", Helvetica;
    --font-family-nunito_sans: "Nunito Sans", Helvetica;
    --font-family-nunito_sans-bold: "Nunito Sans-Bold";
  }
  .nunitosans-semi-bold-black-20px {
    color: var(--black);
    font-family: var(--font-family-nunito_sans);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 600;
  }
  
  .nunitosans-normal-black-30px {
    color: var(--black);
    font-family: var(--font-family-nunito_sans);
    font-size: var(--font-size-xl);
    font-style: normal;
    font-weight: 400;
  }
  
  .nunitosans-normal-pale-sky-14px {
    color: var(--pale-sky-2);
    font-family: var(--font-family-nunito_sans);
    font-size: var(--font-size-xs);
    font-style: normal;
    font-weight: 400;
  }
  
  .nunitosans-normal-black-14px {
    color: var(--black);
    font-family: var(--font-family-nunito_sans);
    font-size: var(--font-size-xs);
    font-style: normal;
    font-weight: 400;
  }
  
  .nunitosans-normal-black-24px {
    color: var(--black);
    font-family: var(--font-family-nunito_sans);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 400;
  }





/* 
----------------------------------------------------------------------------------------
LOGIN PAGE CSS
----------------------------------------------------------------------------------------
*/

.login-page {
    align-items: flex-start;
    background-color: var(--blue-whale);
    display: flex;
    height: 1024px;
    min-width: 1440px;
    padding: 119.6px 180.0px;
  }
  
  .login-page .overlap-group {
    margin-left: 11px;
    margin-top: 0.41px;
    position: relative;
  }
  
  .login-page .overlap-group1 {
    left: 0;
    position: absolute;
    top: 0;
  }
  
  .login-page .login-form {
    background-color: var(--white);
    border-radius: 57px;
    box-shadow: 0px 4px 4px #00000040;
    height: 784px;
    left: 4px;
    position: absolute;
    top: 0;
    width: 1065px;
  }
  
  .login-page .logo_-section {
    height: 784px;
    left: 0;
    position: absolute;
    top: 0;
    width: 361px;
  }
  
  .login-page .welcome-back_-text {
    -webkit-text-stroke: 1px var(--black);
    color: var(--blue-whale);
    font-family: var(--font-family-nunito_sans);
    font-size: var(--font-size-xxl);
    font-weight: 700;
    height: 84px;
    left: 435px;
    letter-spacing: 0;
    line-height: 52.0px;
    position: absolute;
    text-align: center;
    top: 83px;
    width: 525px;
  }
  
  .login-page .login_-text {
    -webkit-text-stroke: 1px #0000004c;
    color: var(--pale-sky);
    font-family: var(--font-family-nunito_sans);
    font-size: var(--font-size-xl);
    font-weight: 600;
    height: 62px;
    left: 598px;
    letter-spacing: 0;
    line-height: 39.0px;
    position: absolute;
    text-align: center;
    top: 176px;
    width: 197px;
  }
  
  .login-page .remember-me {
    color: var(--pale-sky);
    font-family: var(--font-family-nunito_sans);
    font-size: var(--font-size-xs);
    font-weight: 400;
    height: 13px;
    left: 497px;
    letter-spacing: 0;
    line-height: 18.2px;
    position: absolute;
    text-align: center;
    top: 461px;
    white-space: nowrap;
    width: 116px;
  }
  
  .login-page .forgot-password {
    color: var(--pale-sky);
    font-family: var(--font-family-nunito_sans);
    font-size: var(--font-size-xs);
    font-weight: 400;
    height: 35px;
    left: 788px;
    letter-spacing: 0;
    line-height: 18.2px;
    position: absolute;
    text-align: center;
    top: 460px;
    white-space: nowrap;
    width: 169px;
  }

 
  .login-page .dont-have-an-account-sign-up-today:hover {
    color:#00274c;
  }
  
  .login-page .dont-have-an-account-sign-up-today {
    color: var(--pale-sky);
    font-family: var(--font-family-nunito_sans);
    font-size: var(--font-size-xxs);
    font-weight: 400;
    height: 35px;
    left: 529px;
    letter-spacing: 0;
    line-height: 15.6px;
    position: absolute;
    text-align: center;
    top: 618px;
    width: 336px;
  }


  /*Might remove later*/
  .login-page .remember-me-box {
    height: 20px;
    left: 478px;
    position: absolute;
    top: 463px;
    width: 20px;
  }
  
  .login-page .place-holder-logo {
    height: 313px;
    left: 24px;
    object-fit: cover;
    position: absolute;
    top: 235px;
    width: 314px;
  }
  
  .login-page .login-form-1 {
    align-items: flex-end;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 39px;
    left: 449px;
    min-height: 186px;
    padding: 23px 23.1px;
    position: absolute;
    top: 248px;
    width: 524px;
  }
  
  .login-page .username {
    align-items: flex-start;
    border: 1px solid;
    border-color: var(--pale-sky);
    border-radius: 10px;
    display: flex;
    gap: 10px;
    padding: 14px;
    position: relative;
    width: 477px;
  }
  
  .login-page .username-1 {
    flex: 0 0 auto;
    position: relative;
  }
  
  .login-page .username-2 {
    background-color: transparent;
    border: 0;
    height: 18px;
    left: 2px;
    letter-spacing: 0;
    line-height: 18.2px;
    padding: 0;
    position: relative;
    text-align: left;
    top: 1px;
    width: 65px;
  }
  
  .login-page .username-2::placeholder {
    color: #696d8151;
  }
  
  .login-page .password {
    align-items: flex-start;
    border: 1px solid;
    border-color: var(--pale-sky);
    border-radius: 10px;
    display: flex;
    gap: 10px;
    height: 50px;
    padding: 14px;
    position: relative;
    width: 477px;
  }
  
  .login-page .password-1 {
    flex: 0 0 auto;
    position: relative;
  }
  
  .login-page .password-2 {
    background-color: transparent;
    border: 0;
    height: 18px;
    left: 2px;
    letter-spacing: 0;
    line-height: 18.2px;
    padding: 0;
    position: relative;
    text-align: left;
    top: 1px;
    white-space: nowrap;
    width: 62px;
  }
  
  .login-page .password-2::placeholder {
    color: #696d8151;
  }
  
  .login-page .login_submit {
    align-items: center;
    background-color: var(--blue-whale);
    border: 1px solid;
    border-color: var(--black);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    height: 50px;
    justify-content: center;
    left: 583px;
    padding: 14px;
    position: absolute;
    top: 536px;
    width: 241px;
  }
  
  .login-page .log-in {
    color: var(--white);
    font-family: var(--font-family-nunito_sans);
    font-size: var(--font-size-m);
    font-weight: 700;
    letter-spacing: 0;
    line-height: 26.0px;
    margin-bottom: -1.00px;
    margin-top: -3.00px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
  }
  
  .login-page .user-icon {
    height: 31px;
    left: 420px;
    object-fit: cover;
    position: absolute;
    top: 280px;
    width: 33px;
  }
  
  .login-page .password-icon {
    height: 32px;
    left: 421px;
    object-fit: cover;
    position: absolute;
    top: 369px;
    width: 30px;
  }
  
  .login-page .overlap {
    height: 784px;
    width: 1069px;
  }
  
/* 
----------------------------------------------------------------------------------------
REGISTER PAGE CSS
----------------------------------------------------------------------------------------
*/
.register-page {
  align-items: flex-start;
  background-color: var(--blue-whale);
  display: flex;
  height: 1024px;
  min-width: 1440px;
  padding: 112px 183px;
}

.register-page .overlap-group {
  background-image: url(img/registerblock.svg);
  background-size: 100% 100%;
  height: 792px;
  margin-top: 8px;
  position: relative;
  width: 1073px;
}

.register-page .password-icon {
  height: 32px;
  left: 437px;
  object-fit: cover;
  position: absolute;
  top: 539px;
  width: 30px;
}

.register-page .user-icon {
  height: 31px;
  left: 436px;
  object-fit: cover;
  position: absolute;
  top: 466px;
  width: 33px;
}

.register-page .user-icon-1 {
  top: 320px;
}

.register-page .overlap-group2 {
  align-items: flex-start;
  background-image: url(img/logo-section.svg);
  background-size: 100% 100%;
  display: flex;
  height: 784px;
  justify-content: flex-end;
  left: 3px;
  min-width: 361px;
  padding: 265.9px 19.0px;
  position: absolute;
  top: 0;
}

.register-page .placeholder-logo {
 height: 313px;
    left: 24px;
    object-fit: cover;
    position: absolute;
    top: 235px;
    width: 314px;
}

.register-page .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 22px;
  left: 453px;
  min-height: 145px;
  position: absolute;
  top: 63px;
  width: 525px;
}

.register-page .sign-up-today_-text {
  -webkit-text-stroke: 1px var(--black);
  color: var(--blue-whale);
  font-family: var(--font-family-nunito_sans);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  height: 84px;
  letter-spacing: 0;
  line-height: 52.0px;
  text-align: center;
  width: 525px;
}

.register-page .place {
  -webkit-text-stroke: 1px #0000004c;
  color: var(--pale-sky);
  font-family: var(--font-family-nunito_sans);
  font-size: var(--font-size-xl);
  font-weight: 600;
  height: 39px;
  letter-spacing: 0;
  line-height: 39.0px;
  margin-left: 18.0px;
  text-align: center;
  width: 197px;
}

.register-page .account-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 21px;
  left: 551px;
  min-height: 107px;
  position: absolute;
  top: 630px;
  width: 349px;
}

.register-page .create-account-button {
  align-items: center;
  background-color: var(--blue-whale);
  border: 1px solid;
  border-color: var(--black);
  border-radius: 10px;
  cursor: pointer;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  padding: 14px;
  position: relative;
}

.register-page .create-an-account {
  color: var(--white);
  font-family: var(--font-family-nunito_sans);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 23.4px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: 321px;
}

.register-page .already-have-an-account-sign-in {
  color: var(--pale-sky);
  font-family: var(--font-family-alata-regular);
  font-size: var(--font-size-xxs);
  font-weight: 400;
  height: 35px;
  letter-spacing: 0;
  line-height: 15.6px;
  margin-left: 1.0px;
  text-align: center;
  width: 336px;
}

.register-page .already-have-an-account-sign-in:hover {
  color:#00274c;
}


.register-page .overlap-group1 {
  height: 372px;
  left: 434px;
  position: absolute;
  top: 215px;
  width: 551px;
}

.register-page .register-form {
  align-items: flex-end;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 23px;
  height: 372px;
  left: 33px;
  overflow: hidden;
  padding: 7px 20.1px;
  position: absolute;
  top: 0;
  width: 518px;
}

.register-page .first-name_-input {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--pale-sky);
  border-radius: 10px;
  display: flex;
  gap: 10px;
  height: 50px;
  margin-top: 16px;
  padding: 14px;
  position: relative;
  width: 477px;
}

.register-page .first-name {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 2px;
  position: relative;
}

.register-page .first-name-1 {
  background-color: transparent;
  border: 0;
  flex: 0 0 auto;
  letter-spacing: 0;
  line-height: 18.2px;
  margin-top: -1.00px;
  padding: 0;
  position: relative;
  text-align: left;
  white-space: nowrap;
}

.register-page .first-name-1::placeholder {
  color: #696d8151;
}

.register-page ._-input {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--pale-sky);
  border-radius: 10px;
  display: flex;
  gap: 10px;
  height: 50px;
  padding: 14px;
  position: relative;
  width: 477px;
}

.register-page .frame-7 {
  height: 22px;
  position: relative;
  width: 72px;
}

.register-page .last-name {
  align-items: flex-start;
  display: inline-flex;
  gap: 10px;
  padding: 2px;
  position: relative;
}

.register-page .last-name-1 {
  background-color: transparent;
  border: 0;
  flex: 0 0 auto;
  letter-spacing: 0;
  line-height: 18.2px;
  margin-top: -1.00px;
  padding: 0;
  position: relative;
  text-align: left;
  white-space: nowrap;
}

.register-page .last-name-1::placeholder {
  color: #696d8151;
}

.register-page .email-address_-input {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--pale-sky);
  border-radius: 10px;
  display: flex;
  gap: 10px;
  padding: 14px;
  position: relative;
  width: 477px;
}

.register-page .email_-address {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 2px;
  position: relative;
}

.register-page .email-address {
  background-color: transparent;
  border: 0;
  flex: 0 0 auto;
  letter-spacing: 0;
  line-height: 18.2px;
  margin-top: -1.00px;
  padding: 0;
  position: relative;
  text-align: left;
  white-space: nowrap;
}

.register-page .email-address::placeholder {
  color: #696d8151;
}

.register-page .username {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 2px;
  position: relative;
}

.register-page .username-1 {
  background-color: transparent;
  border: 0;
  flex: 0 0 auto;
  letter-spacing: 0;
  line-height: 18.2px;
  margin-top: -1.00px;
  padding: 0;
  position: relative;
  text-align: left;
  white-space: nowrap;
}

.register-page .username-1::placeholder {
  color: #696d8151;
}

.register-page .password {
  flex: 0 0 auto;
  position: relative;
}

.register-page .password-1 {
  background-color: transparent;
  border: 0;
  height: 18px;
  left: 2px;
  letter-spacing: 0;
  line-height: 18.2px;
  padding: 0;
  position: relative;
  text-align: left;
  top: 1px;
  white-space: nowrap;
  width: 62px;
}

.register-page .password-1::placeholder {
  color: #696d8151;
}

.register-page .email-_icon {
  height: 23px;
  left: 0;
  position: absolute;
  top: 180px;
  width: 35px;
}

.register-page .user-icon-2 {
  top: 247px;
}

.register-page .user-icon-3 {
  height: 31px;
  left: 434px;
  object-fit: cover;
  position: absolute;
  width: 33px;
}

