        body {
            margin: 0;
            padding: 0;
            background-color: #00274C;
        }
       .c {
            background-color: #00274C;
            font-family: 'Nunito Sans';
            margin: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            padding: 0;
        }

        .container {
            background-color: white;
            padding: 20px;
            width: 75%;
            height: 100%;
            display: flex;
        }

        .profile-card {
            width: 30%;
            padding: 20px;
            display: inline-block;
            flex-direction: column;
        }

        .profile-picture {
            width: 130px;
            height: 130px;
            border-radius: 50%;
            background-color: #ccc;
            background-size: cover;
            background-position: center;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
        }

        .profile-picture img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .custom-file-label-text {
            text-align: center;
        }

        .about-me {
            margin-top: 20px;
            font-size: 16px;
        }

        .contacts {
            margin-top: 20px;
            font-size: 16px;
        }

        .contacts p{
           
            white-space:pre
        }

        .about-me textarea,
        .contacts textarea {
            width: 100%;
            padding: 15px;
            background-color: white;
            border: 1px solid gray;
            border-radius: 10px;
            box-sizing: border-box;
            box-shadow: 1px 10px 5px 0px rgba(161, 152, 152, 0.75);
            font-family: 'Nunito Sans';
            font-size: 15px;
        }

        .posts-title {
            background-color: #FFCB05;
            color: #00274C;
            padding: 10px;
            border-radius: 10px;
            text-align: center;
            font-size: 16px;
            margin-bottom: 10px;
        }

        .posts-content {
            flex-grow: 1;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 20px;
            justify-content: space-between;
            overflow: auto;
        }

        .post {
            background-color: #ccc;
            border-radius: 10px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
        }

        .post-details {
            padding: 15px;
            flex-grow: 1; /* Allow post details to grow within the post */
            max-height: 100%;
            overflow: auto;
        }

        .post h4 {
            margin-bottom: 10px;
        }

        .post-actions {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 0 0 10px 10px;
        }

        .like-container {
            display: flex;
            align-items: center;
        }

        .like-button,
        .edit-button {
            background-color: transparent;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            font-size: 18px;
            color: #00274C;
        }

        .like-button {
            cursor: pointer;
            font-size: 24px;
            color: #00274C;
        }
        
        .like-button.red {
            color: red;
        }
        
        .like-counter {
            margin-left: 5px;
            font-size: 16px; /* Adjust the font size as needed */
            color: #00274C; /* Optional: Customize the color */
        }

        input[type="text"], textarea {
            padding: 15px;
            margin: 10px 0;
            background-color: white;
            border: 1px solid gray;
            border-radius: 10px;
            box-sizing: border-box;
            box-shadow: 1px 10px 5px 0px rgba(161, 152, 152, 0.75);
            font-family: 'Nunito Sans';
            font-size: 15px;
        }

        .input-button{
            width: 180px;
            height: 40px;
            background-color:#FFCB05;
            font-family: 'Nunito Sans-Bold', Helvetica;
            color: #00274C;
            border-radius: 30px;
            padding: 10px 30px;
            font-size: 17px;
            cursor: pointer;
        }

        .input-button:hover {
            opacity: 0.8;
        }

        .custom-file-input {
            display: none;
        }

        .custom-file-label {
            width: 20%;
            background-color: #ccc;
            padding: 30px;
            border: 2px solid #333;
            border-radius: 10px;
            border-color: darkgray;
            border-style: dashed;
            cursor: pointer;
            font-size: 15px;
            font-family: 'Nunito Sans';
        }

        #uploaded-files {
            text-align: right;
            font-size: 15px;
            margin-right: 50%;
        }

        .custom-file-label:hover {
            opacity: 0.75;
        }

        .edited-name {
            font-size: 25px; /* Adjust the font size as needed */
            font-weight: bold; /* Optional: Add bold styling */
            color: #00274C; /* Optional: Customize the color */
        }

        
.name-editable {
    font-size: 25px; /* Adjust the font size as needed */
    color: inherit; /* Inherit color from the parent element (rest of the webpage) */
    margin: 0 auto;
    margin-top: 20px;
}

.menu {
    color: #00274C !important;
}

.file-preview a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.file-preview a:hover {
    text-decoration: none;
    color: #FFCB05;
}