/* 
----------------------------------------------------------------------------------------
FORGOT PASSWORD PAGE CSS
----------------------------------------------------------------------------------------
*/

@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:700");

.forgot-password-page {
    align-items: center;
    margin: auto;
    background-color: #00274c;
    display: flex;
    flex-direction:column;
    gap: 42px;
    padding: 323px 0;
    width: 1440px;
}

.hidden,
.hidden * {
    pointer-events: none;
    visibility: hidden;
}

.valign-text-middle {
    margin: auto;
    display: flex;
    flex-direction: column; 
}

.title2 {
    width: 684px;
    height: 162px;
    top: 0;
    left: 0;
    font-family: "Nunito Sans-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: 52px;
}

.account-container2 {
    height: 154px;
    position: relative;
    width: 400px;
    margin: auto;
}

.forgot-password {
    color: #ffffff;
    font-family: "Nunito Sans-bold", Helvetica;;
    font-size: 20px;
    cursor: pointer;
    height: 98px;
    left:0;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    text-align: center;
    top: 0;
    transform: all 0.2s ease;
    width: 400px;
}

.sign-in2:hover {
    color: #ffcb05;
}


.sign-in2 {
    color: #ffffff;
    font-family: "Nunito Sans-bold", Helvetica;
    font-size: 20px;
    cursor: pointer;
    height: 98px;
    left:0;
    letter-spacing: 0;
    line-height: 26px;
    position: absolute;
    text-align: center;
    top: 56px;
    transform: all 0.2s ease;
    width: 400px;
}