.c {
    background-color: #00274C;
    font-family: 'Nunito Sans';
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

body {
    margin: 0;
    padding: 0;
    background-color: #00274C;
}


.post{
    background-color:white;
    color: #00274C;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 3%;
    margin-top:3%;
    width: 80%;
    margin-left:100px;
    margin-right:100px;
    height: 60%;
}

.profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
    float:left;
    background-size: cover; 
    background-position: center;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    margin-right:15px;
}

.essayTitle{
    text-align: center;
    margin: 30px;
}

.essay{
    width: 90%;
    height: 40%;
    background-color: #D3D3D3;
    text-align: left;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: auto;
    padding: 15px;
}

.like-button {
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    cursor: pointer;
    font-size: 28px;
    color: #00274C;
    margin-left:5%;
}

.like-button.red {
    color: red;
}

.menu {
    margin-right: 80% !important;

}

.more-button {
    color: #00274C;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 27px;
    font-family: 'Nunito Sans';
    background-color: #FFCB05;
    width: 10%;
    margin-bottom: 10%;
    text-decoration: none;
    text-align: center;
}

.more-button:hover {
    opacity: 0.8;
}

.spacer {
    padding: 0.5px;
    width: 100%;
}

.file-preview  {
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 22px;
    font-family: 'Nunito Sans';
    background-color: #FFCB05;
    margin: 20px;
    margin-left: 60px;
    width: 22%;
}

.file-preview a {
    color: #00274C;
    text-decoration: none;
}

.file-preview:hover {
    opacity: 0.8;
}


.profile-name a{
    color: #00274C;
    text-decoration: none;
    font-size: 20px;
}

.profile-name:hover {
    opacity: 0.8;
}