.c {
    background-color: #00274C;
    font-family: 'Nunito Sans';
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
}

body {
    margin: 0;
    padding: 0;
    background-color: #00274C;
}

h2 {
    text-align: center;
    font-size: 40px;
    color: #00274C;
}

.content {
    background-color: white;
    padding: 20px;
    width: 75%;
    height: 100%;
}

input[type="text"], textarea {
    width: 80%;
    padding: 15px;
    margin: 10px 0;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 1px 10px 5px 0px rgba(161,152,152,0.75);
    font-family: 'Nunito Sans';
    font-size: 15px;
}

.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upload-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 15px;
    margin: 5%;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 1px 10px 5px 0px rgba(161,152,152,0.75);
    font-family: 'Nunito Sans';
    font-size: 12px;
}

.custom-file-input {
    display: none;
}

.custom-file-label {
    width: 20%;
    background-color: #ccc;
    padding: 30px;
    border: 2px solid #333;
    border-radius: 10px;
    border-color: darkgray;
    border-style: dashed;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Nunito Sans';
    text-align: center;
    font: bold;
}

.custom-file-label-text {
    display: block;
}

#uploaded-files {
    text-align: right;
    font-size: 15px;
    margin-right: 50%;
}

.custom-file-label:hover {
    opacity: 0.75;
}

.post-button {
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Nunito Sans';
    background-color: #00274C;
    margin-left: 10%;
    width: 20%;
}

.post-button:hover {
    opacity: 0.8;
}

.menu {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: #00274C;
}

.menu:hover {
    opacity: 0.5;
    cursor: pointer;
}

